<launch>
  
  <!-- FOR REMAPPING THE VOXBLOX TOPIC. THIS ALLOWS MULTIPLE MESHES TO STREAM TO UNITY SIMULTAEOUSLY. -->
  <!-- <remap from="/voxblox_node/mesh" to="/voxblox_node/mesh2"/> -->
  
  <!-- FOR STARTING ROSBRIDGE. ALTERNATELY, THIS CAN BE DONE VIA TERMINAL. -->
  <!-- include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" -->

  
  <!-- FOR VOXBLOX -->
  <include file="$(find isaacs_mapping)/launch/zed_voxblox.launch"/>
  
  <!-- FOR STARTING ZED 2 CAMERA. UNCOMMENT IF READING INPUT FROM CAMERA INSTEAD OF RECORDED ROSBAGS. -->
  <!-- include file="$(find zed_wrapper)/launch/zed2.launch" -->  
  
  
  <!-- FOR ARUCO POSE PROCESSING -->
  <node name="aruco_pose" pkg="isaacs_mapping" type="process_aruco.py" output="screen"/>

</launch>
