<launch>
  <!-- <remap from="/voxblox_node/mesh" to="/voxblox_node/mesh2"/> -->
  <!-- ROSBRIDGE 
  	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  -->
  
  <!-- VOXBLOX -->
  <include file="$(find isaacs_mapping)/launch/zed_voxblox.launch"/>
  
  <!-- ZED 2
  	<include file="$(find zed_wrapper)/launch/zed2.launch"/>  
  -->
  
  
  <!-- ARUCO POSE PROCESSING -->
  <node name="aruco_pose" pkg="isaacs_mapping" type="process_aruco.py" output="screen"/>

</launch>
